@font-face {
  font-family: 'RobotoSlab-Light';
  src: url('fonts/woff') format('woff'),
       url('fonts/woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Overlock-Italic';
  src: url('fonts/woff') format('woff'),
       url('fonts/woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
